.data-source-container {
	margin-top: 80px;
	display: flex;
	justify-content: center;
	align-content: center;
}

.data-source {
	width: 560px;
}

.data-picker-container {
	width: 100%;
}

.data-picker {
	font-size: 16px;
	color: rgba(0, 0, 0, 0.85);
  
	width: 100%;

	background-color: rgb(250, 250, 250);
	border: 1px dashed rgb(217, 217, 217);
	border-radius: 2px;
  
	text-align: center;
  
	display: inline-block;
	cursor: pointer;
}

.data-picker:hover {
	border-color: #40a9ff; 
}

.data-picker input {
	display: none;
}

.data-picker-icon {
	font-size: 3rem;
	color: #40a9ff;
	margin-bottom: 20px;
}