.reg-group {
	margin: 10px 0 0 10px;
}

.reg-group-title {
	background-color: #ff6f69;
	padding: 5px;
	border-radius: 3px;
 	cursor: pointer;
 	margin: 10px auto;

	display: grid;
	grid-template-columns: auto 150px;
}

.reg-title {
	background-color: #88d8b0;
	margin: 10px 0px 0px 10px;
	padding: 5px;
	border-radius: 3px;
 	cursor: pointer;

	display: grid;
	grid-template-columns: 150px auto 100px 50px;
}
