.nav-container {
	margin-top: 10px;
	padding: 5px;
	background-color: #eee;
	display: grid;
	grid-gap: 5px;
	grid-template-columns: 40px auto 40px;
	color: #4CAF50;
	
	position: -webkit-sticky;
	position: sticky;
	top: 0px;
	z-index: 999;
}

.nav-container a {
	text-decoration: none;
}

.nav-container a:visited {
	color: inherit;
}

.home-btn  {
	font-size: 30px;
	grid-column: 1;
	justify-self: center;
	align-self: center;
}

.nav-breadcrumb {
	margin: 0;
	padding: 0;
	list-style: none;
	grid-column: 2;
	justify-self: start;
	align-self: center;
}

.nav-breadcrumb li {
	display: inline;
	font-size: 18px;
}

.nav-breadcrumb li:before {
	padding: 5px;
	color: black;
	content: "/\00a0";
}

.nav-breadcrumb li a {
	color: #0275d8;
	text-decoration: none;
}

.nav-breadcrumb li a:hover {
	text-decoration: underline;
}

.dropdown {
	grid-column: 3;
	justify-self: center;
	align-self: center;
	position: relative;
	width: 30px;
}

.dropdown-btn {
	background-color: #4CAF50;
	color: white;
	padding: 6px;
	width: 100%;
	height: 100%;
	font-size: 16px;
	border: none;
	cursor: pointer;
}

.dropdown-content {
	display: none;
	position: absolute;
	color: black;
	background-color: #f9f9f9;
	min-width: 240px;
	box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
	z-index: 1;
	right: 0;
}

.dropdown-content a, .dropdown-content span {
	color: black;
	padding: 10px 14px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #f1f1f1;
}


.dropdown-content span:hover {
	background-color: #f1f1f1;
	cursor: pointer;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropdown-btn {
	background-color: #3e8e41;
}