table.symbolic-names {
	table-layout: fixed;
	border-collapse: collapse;
	/*border: 3px solid purple;*/
}

table.symbolic-names th, table.symbolic-names td {
	padding: 5px;
	text-align: left;
}

#reset-btn {
	margin-right: 16px;
}

.field-editor {
	padding-bottom: 8px;
	margin-bottom: 24px;
}

#constant-left {
	width: 100px;
	text-align: center;
}

#constant-middle {
	background-color: #fff;
	width: 30px;
	border-left: 0;
	border-right: 0;
	pointer-events:none;
}

#constant-right {
	width: 100px;
	text-align: center;
	border-left-width: 0;
}

#constant-right:hover {
	border-left-width: 1px;
}

.constant-error {
	margin-left: 8px;
	line-height: 32px;
}