.reg-editor {
	margin: 10px auto;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 70px 200px 50px 300px;
	grid-template-rows: auto;
	grid-template-areas: 
		"reg-name-label    reg-name-input    reg-group-label   reg-group-input"
		"reg-offset-label  reg-offset-input  reg-size-label    reg-size-input"
		"reg-summary-label reg-summary-input reg-summary-input reg-summary-input"
		"reg-detail-label  reg-detail-area   reg-detail-area   reg-detail-area"
		"field-editor      field-editor      field-editor      field-editor";
}

[name="name-label"] {
	grid-area: reg-name-label;
}

[name="name"] {
	grid-area: reg-name-input;
}

[name="parent-label"] {
	grid-area: reg-group-label;
}

[name="parent"] {
	grid-area: reg-group-input;
}

[name="desc-short-label"] {
	grid-area: reg-summary-label;
}

[name="desc_short"] {
	grid-area: reg-summary-input;
}

[name="desc-long-label"] {
	grid-area: reg-detail-label;
}

[name="desc_long"] {
	grid-area: reg-detail-area;
}

.field-editor {
	grid-area: field-editor;
}

.field-form {
	margin: 10px;
	display: grid;
	grid-gap: 10px 10px;
	grid-template-columns: 140px auto;
}

div.bit {
	background-color: #fff;
	cursor: pointer;
}

div.bit.active-in-field {
	background-color: #deff97;
}