table {
	width: 800px;
	margin: 50px auto;
	overflow: hidden;
	font-size: 90%;
}

table, th, td {
  border: 1px solid #ccc;
  border-collapse: collapse;
  text-align: left;
}

th, td {
	padding: 5px;
}

th {
	background: #00cccc;
	color: #fff;
}

th.focus-header {
	background-color: orchid;
}

th.value-header {
	cursor: pointer;
	background-color: cadetblue
}

td.highlight-field {
	background-color: orchid;
	color: #fff;
}

tr:hover {
	background-color: #ffa;
}
  
td, th {
	position: relative;
}
td:hover::after,
th:hover::after {
	content: "";
	position: absolute;
	background-color: #ffa;
	left: 0;
	top: -5000px;
	height: 10000px;
	width: 100%;
	z-index: -1;
}

.reg-decode textarea {
	width: 600px;
	height: 120px;
	padding: 5px;
}