.reg-title {
	background-color: #88d8b0;
	margin: 10px 0px 0px 10px;
	padding: 5px;
	border-radius: 3px;
 	cursor: pointer;

	display: grid;
	grid-template-columns: 150px auto 100px 50px;
}

table {
	width: 800px;
	margin: 50px auto;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: left;
}

th, td {
	padding: 5px;
}

th {
	background: #999;
}

.warning {
	border-left: 5px solid #e66465;
	padding: 10px;
	background-color: #ffe7e8;
}

th.focus-header-0 {
	background-color: #5bc0de;
}

th.focus-header-1 {
	background-color: #5cb85c;
}

th.value-header {
	cursor: pointer;
}

td.highlight-field {
	background-color: #ffe7e8;
}