.title-container {
	display: flex;
	justify-content: space-between;
}

.title-container .address {
	color: rgba(0, 0, 0, 0.45);
	font-size: 14px;
	margin-left: 8px;
}

.with-hover-pointer:hover {
	cursor: pointer
}